.htmx-indicator {
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Fira Code', normal;
    letter-spacing: -0.7px;
}

h1 {
    font-family: 'Fira Code', normal;
    font-weight: 1800;
    letter-spacing: -0.7px;
    font-size: 4.5rem;
}

h2 {
    font-family: 'Fira Code', normal;
    font-weight: 500;
    letter-spacing: -0.7px;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Fira Code', normal;
    font-weight: 400;
    letter-spacing: -0.7px;
    font-size: 1.25rem;
}

h4 {
    font-family: 'Fira Code', normal;
    font-weight: 300;
    letter-spacing: -0.7px;
    font-size: 1rem;
}

p {
    font-family: 'Fira Code', normal;
    font-weight: 300;
    letter-spacing: -0.7px;
    font-size: 1rem;
}
