{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Caye's Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/css/output.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
    </head>
    <body>
        {{ template "navbar" . }}
        <main>
            <h1 class="text-2xl font-semibold text-center">Hi I'm Cayetano Biehler</h1>
            <h2 class="text-xl font-semibold text-center text-orange-500">Software Developer & Electronic System's Engineer</h2>
            <p class="text-center">Currently interested in <strong>Web Development</strong> and getting started with <strong>Artificial Intelligence</strong>.</p>
        </main>

        {{ template "add-post-button" . }}

        {{ if .Posts }}
        <div class="flex flex-col justify-center items-center gap-2 mt-10">
            <h2 class="text-2xl font-semibold text-center mb-3">Posts</h2>
            <div id="post-list" class="w-8/12">
                {{ template "post-list" . }}
            </div>
        </div>
        {{ end }}
    </body>
</html>
{{ end }}

{{ block "add-post-button" . }}
    <div id="add-post-button" class="flex justify-center items-center gap-2 mt-10">
        <button 
            class="rounded bg-orange-500 text-white px-4 py-2" 
            hx-get="/edit-post"
            hx-swap="outerHTML"
            hx-trigger="click"
        >
            Add Post
        </button>
    </div>
{{ end }}

{{ block "post-form" . }}
    <div id="post-form" class="flex flex-col justify-center items-center gap-2">
        <form hx-post="/add-post" hx-target="#post-list" class="flex flex-col justify-center items-center gap-4">
            
            <div class="flex flex-col justify-center gap-2">
                <label for="title">Title</label>
                <input 
                    type="text" 
                    name="title" 
                    class="border-solid border-black border-2"
                    value="{{ if .Title }}{{ .Title }}{{ end }}"
                />
            </div>
            <div class="flex flex-col justify-center gap-2">
                <label for="body">Body</label>
                <textarea  
                    hx-post="/markdown"
                    hx-target="#markdown-content"
                    hx-swap="innerHTML"
                    hx-trigger="keyup changed delay:500ms"
                    value="{{ if .Body }}{{ .Body }}{{ end }}"
                    name="body"
                    class="border-solid border-black border-2"
                    rows="10" 
                    cols="50" 
                ></textarea>
            </div>
            <div class="flex justify-center items-center gap-2">
                <button class="rounded bg-orange-500 text-white px-4 py-2" type="submit">Submit</button>
                <button 
                    class="rounded bg-gray-500 text-white px-4 py-2" 
                    hx-get="/cancel-post"
                    hx-target="#add-post-button"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                >
                    Cancel
                </button>
            </div>
        </form>
        <div id="markdown-content" class="p-5 w-full text-left bg-gray-100">
            {{ template "markdown-content" }}
        </div>
    </div>
{{ end }}

{{ block "markdown-content" . }}
        {{ . }}
{{ end }}

{{ block "post-list" . }}
    {{ range .Posts }}
        <section class="mb-5 bg-gray-100 p-3 rounded shadow-lg">
            <header class="text-left mb-2">
                <h3 class="border-b border-b-black">{{ .Title }}</h3>
            </header>
            <main class="font-light">
                {{ .Body | markdown }}
            </main>
        </section>
    {{ end }}
{{ end }}
